<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Coder | Source Verification</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="/static/logo/cs.png">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/animate.min.css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/static/css/uicons-solid-rounded.css">
        <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="/static/css/flaticon.css">
        <link rel="stylesheet" href="/static/css/slick.css">
        <link rel="stylesheet" href="/static/css/default.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/responsive.css">
    </head>
    <body>

 
        <div id="preloader">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                </div>
            </div>
        </div>
      


        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>

                            </div>
                        </div>
                    </div>
                </div>
            </header>
  
            <main>

              
                <section class="breadcrumb-area breadcrumb-bg">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-8">
                                <div class="breadcrumb-content text-center">
                                    <h3 title="scroll down" class="title">Verification Center <img style="width: 30px; height: 30px;" aria-disabled="true" src="/static/verified/verify.png" title="Badge" alt="Badge"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                

                <section class="login-welcome-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="login-welcome-wrap">
                                    <div class="login-welcome-content">
                                        <h2 class="title"> Coder | Source Verification Center</h2>
                                        <p>Produced by <a href="https://instagram.com/toptalfreelancer">TopTalFreelancer</a></p>
                                    </div>
                                    <div class="welcome-rating">
                                        <img src="/static/img/icons/three_star.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="signup-form-wrap">
                                    <h4 class="title">Verify Your Account</h4>
                                    <div>
                                        <style>
                                            h5{
                                                color: red;
                                                margin-top: 30px;
                                                margin-bottom: 30px;
                                            }
                                        </style>
                                        {% for message in messages %}
                                        <center><h5>{{message}}</h5></center>
                                        {% endfor %}
                                      
                                        </div>
                                    <form action="" method="post"> {% csrf_token %}
                                        <div class="form-grp">
                                            <label for="username">Email</label>
                                            <input required name="email" type="email" id="username">
                                        </div>

                                        <div class="form-grp">
                                            <label for="password">url</label>
                                            <input required name="url" type="url" id="password">
                                        </div>

                                        <div class="form-grp">
                                            <label for="req">Query</label>
                                            <input required name="query" type="text" id="req">
                                        </div>
                                        
                                        
                                        <div class="form-btn-wrap">
                                            <button type="submit" class="btn login">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="another-way-signup">
                                    <h4 class="title">Tips</h4>
                                    <p>Tips for you for verifying your account</p>
                                    <ul class="another-way-list">
                                        <li><a href="">Insert Your Email for contact to you <span>1st</span></a></li>
                                        <li><a href="">Insert url which about you!<span>2nd</span></a></li>
                                        <li><a href="">Remember we are verify only celebrities or people which is down to earth!<span>3th</span></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            </main>



           

        </div>

        

        
        <script src="/static/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/isotope.pkgd.min.js"></script>
        <script src="/static/js/imagesloaded.pkgd.min.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/static/js/slick.min.js"></script>
        <script src="/static/js/wow.min.js"></script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>