{% extends 'wrapper.html' %}

{% block title %}About Coder | Source{% endblock %}

{% block content %}




<section style="margin-top: 80px;" class="blog-details-area pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-xxl-9 col-lg-8">
                <div class="standard-blog-item blog-details-content">
                    <div class="blog-thumb">
                        <center><img style="border-radius: 10px;" src="/static/logo/BG.png" alt=""></center>
                    </div>
                    <div class="standard-blog-content">
                        <ul class="standard-blog-meta">
                            <li><a href="/codersource/"><i class="flaticon-supermarket"></i>Coder | Source</a></li>
                            <li><a href="/toptalfreelancer/"><i class="flaticon-avatar"></i>toptalfreelancer</a></li>
                            <li><a href=""><i class="flaticon-calendar"></i>since 2022</a></li>
                        </ul>
                        <h4 class="title">Coder | Source</h4>
                       
                        <blockquote>
                            “ Coder | Source is the best platform for share your source codes please read requirements and <a href="/media/privacy_policy/privacy_policy.pdf">privacy policy</a> before using! “
                            <footer>toptalfreelancer</footer>
                        </blockquote>
                    
                        <div class="blog-line"></div>
                        <div class="blog-details-bottom">
                            <div class="blog-details-tags">
                                <ul>
                                    <li class="title">Owner :</li>
                                    <li><a href="/toptalfreelancer/">toptalfreelancer</a></li>
                                </ul>
                            </div>
                            <div class="blog-details-social">
                                <ul>
                                    <li><a href="https://facebook.com/toptalfreelancer"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/toptalfreelancer"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://linkedin.com/toptalfreelancer"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                
                    </div>
            </div>
        </div>

</section>





{% endblock %}