{% extends 'wrapper.html' %}

{% block title %} 500 Server Error {% endblock %}

{% block content %}

<section class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="breadcrumb-content text-center">
                    <h3 class="title">500</h3>
                    <p>Server Error Connect With <a href="https://t.me/toptalfreelancer">Administrator</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}