{% extends 'wrapper.html' %}

{% block title %} Coder | Source @{{user.username}} {% endblock %}

{% block content %}
<main style="margin-top: 50px;">
    <!-- welcome-area -->
    <section class="login-welcome-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="signup-form-wrap">
                        <h4 class="title">Reset Password</h4>
                        <div>
                            <style>
                                h5 {
                                    color: red;
                                    margin-top: 30px;
                                    margin-bottom: 30px;
                                }
                            </style>
                            {% for message in messages %}
                            <center><h5>{{ message }}</h5></center>
                            {% endfor %}
                        </div>
                        <form action="" method="post"> {% csrf_token %}
                            <div class="form-grp">
                                <label for="old">Old Password</label>
                                <input name="old" type="password" id="old" required>
                            </div>
                            <div class="form-grp">
                                <label for="new">New Password</label>
                                <input name="new" type="password" id="new" required>
                            </div>
                            <div class="form-grp">
                                <label for="confirm">Confirm New Password</label>
                                <input name="confirm" type="password" id="confirm" required>
                            </div>
                            <div class="form-btn-wrap">
                                <button type="submit" class="btn login">Change</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="another-way-signup">
                        <h4 class="title">Tips</h4>
                        <p>Tips for you for changing your password</p>
                        <ul class="another-way-list">
                            <li><a href="">Insert Your Old Password <span>1st</span></a></li>
                            <li><a href="">Insert Your New Password <span>2nd</span></a></li>
                            <li><a href="{% url 'users:logout' %}">Reset your password if you don't remember <span>3rd</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- welcome-area-end -->
</main>
<!-- main-area-end -->
{% endblock %}